@import "variables.scss";

@import "mixin.scss";

@include body($color_primary,$color_secondary);


body{
    color:rgba($color_primary, 0.4);
    background-color: $color_standar;
    header{
        background-color: $color_secondary;
        height: 20%;
    }

    #mapid { height: 780px; }

    section{
        background-color: inherit;
        height: 85%;
    }

    footer{
        background-color: $color_primary;
        height: 20%;
    }
}